body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif;
    background-color: #171725;
}

.name-field {
    padding: 5vh;
    display: grid;
}

.game-name {
    height: 4vh;
    width: 50vh;
    border-radius: 12px;
    border: 0;
    padding-left: 1vh;
    white-space: nowrap;
}

.name-title {
    color: #c5c5c5;
    padding: 1vh;
    padding-left: 0;
    font-size: small;
}

.button-group {
    display: flex;
    gap: 2vh;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
}

.beginner {
    background:  linear-gradient(to right, #008A0F, #1A8C0C);
}

.easy {
    background:  linear-gradient(to right, #358D09, #4F8F06);
}

.medium {
    background:  linear-gradient(to right, #6A9003, #849200);
}

.hard {
    background:  linear-gradient(to right, #847200, #845201);
}

.extreme {
    background:  linear-gradient(to right, #833201, #831202 );
}

.button-group label {
    padding: 1vh 1.5vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}
.button-group input[type="radio"] {
    display: none;
}
.button-group input[type="radio"]:checked + label {
    border: 1px solid white;
}

.start-button {
    height: 5vh;
    width: 51vh;
    background: linear-gradient(to top left, #9f0dcc, #2e56d8);
    cursor: pointer;
    border-radius: 12px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: larger;
}