.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px 10px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #007BFF;
}

.navbar .nav-left {
    height: 80px;
    width: 80px;
}